TIBBER_TOKEN=
TIBBER_API_URL=https://api.tibber.com/v1-beta/gql
HOME_ENERGY_HOME_ID=
TIBBER_HOME_ID=
HOME_ENERGY_API_KEY=
HOME_ENERGY_API_URL=http://127.0.0.1:3002
HOME_ENERGY_GRID_TARIFF=
HOST=0.0.0.0
PORT=3001
